git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-dird.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-provisioning.git
git+https://github.com/xivo-pbx/xivo-bus.git
mock
pika
sqlalchemy
psycopg2
python-cjson
python-ldap
pyhamcrest
