docker-compose
nose
python-consul
psycopg2==2.6.2
pyhamcrest
sqlalchemy==1.0.15

# xivo-ctid
-e ..

# dependencies for xivo-ctid db code
git+https://github.com/wazo-pbx/xivo-dao.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-test-helpers.git
