docker-compose
nose
python-consul
psycopg2==2.5.4
pyhamcrest
sqlalchemy==0.9.8

# xivo-ctid
-e ..

# dependencies for xivo-ctid db code
git+https://github.com/wazo-pbx/xivo-dao.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-test-helpers.git
