[Unit]
Description=xivo-ctid server
ConditionPathExists=!/var/lib/xivo/disabled
After=network.target asterisk.service consul.service postgresql.service rabbitmq-server.service xivo-agentd.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-ctid -g xivo-ctid /var/run/xivo-ctid
ExecStart=/usr/bin/xivo-ctid
PIDFile=/var/run/xivo-ctid/xivo-ctid.pid

[Install]
WantedBy=multi-user.target
